<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>register</title>
<link href="__PUBLIC__/Css/User.css" rel="stylesheet" type="text/css" /> 
<script src="__STATIC__/jquery-2.1.4.min.js"></script>
</head>
<body>
<include file="Public:Userheader" />
<form method="post" id="reg_form" action="{:U('Home/User/register')}">
	<p id="uname_tip"></p>
	<p>用户名<input type="text" id="username" name="username"/></p>

	<p id="password_tip"></p>
	<p>密码<input type="password" id="password" name="password"/></p>

	<p id="password2_tip"></p>
	<p>确认密码<input type="password" id="password2" name="password2"/></p>

	<p ><input type="button" name="reg" id="reg" value="提交" /></p>
</form>
<include file="Public:Userfooter" />

<script type="text/javascript">
$(function(){
	$('#reg').click(function(){
		//console.log($('#username').val());
		$username = $('#username').val();
		$password = $('#password').val();
		$password2 = $('#password2').val();
		$post_url = $('#reg_form').attr('action');
		$.post($post_url,{
			uname:$username,upw:$password,password2:$password2
		},function(data){
			$('#uname_tip').html('');
			$('#password_tip').html('');
			$('#password2_tip').html('');
			if(data.info['username']){
				$('#uname_tip').html(data.info['username']);
			}
			if(data.info['password']){
				$('#password_tip').html(data.info['password']);
			}
			if(data.info['password2']){
				$('#password2_tip').html(data.info['password2']);
			}
		},'json');
		//$.post();
	});
});
</script>

</body>
</html>